<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Person</title>
  </head>
  <body>
    <h1>Enter the details of new person</h1>
    <form action="/add" method="post" autocomplete="off">
      <input type="text" name="NAME" placeholder="name">
      <input type="number" name="AGE" placeholder="age">
      <input type="text" name="CITY" placeholder="city">
      <button type="submit" name="button">Add</button>
    </form>
  </body>
</html>
